*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
   
}
.HeroSection{
    background: url("../images/moving\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh ; 
    /* height: 100%; */
    opacity: 0.9; 
}
.navbar {
    display: flex;
    padding-top: 60px;
    padding-right: 40px;
    justify-content: space-between;
    align-items: center;
}
#yellow{
    color: #FAFF00;
}
#white{
    color: white;
    
}

ul.line{
    padding-right: 50px;
}
ul.line li{
    display: inline-block;
}
    

button.navbutton{
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    background-color: #FFAC12;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}   
button.navbutton:hover{
    background-color: black;
    color: #FFAC12;

}
.HeroText > p{
    padding-top: 90px;
    padding-left: 50px;
    font-size: 50px;

}
h1{
    padding-left: 30px;
}
.HeroText >p.small{
    font-size: 30px;
}
.navbar >h1{
    font-size: 40px;
    
}
.navbar >h1 > span#white{
    text-decoration: overline #FAFF00;
}
.navbar >h1 > span#move{
    text-decoration: underline #fff;
    

}
.links > .line > li> a{
    color: white;
    padding: 35px;
    transition: all 0.3s ease 0s;
}
.links > .line > li> a:hover{
    color: #FFAC12;
}
/* SecondSection */

.SecondSection{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    padding-top: 40px;
    width: 90%;
}
.firstimg{
    width: 100%;
}
.firstimg img{
    width: 100%;
}
.text1{
    padding: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.text1 > h1 {
    padding: 10px 0 10px 0;
}

.text1 > hr{
    height: 3px;
    width: 100px;
    background-image: linear-gradient(to right, #FAFF00 ,black);
    border: none;
}
.text1 > button{
    background-color: black;
    border-radius: 0 12px 0 0;
    border: none;
    padding: 5px 20px 10px 20px;
    margin-top: 50px;
}
.text1 > button > span#yellow > span.size{
    font-size: 25px;

}
.text1 > button > span#yellow {
    font-size: 12px;
} 
/* ThirdSection */

.ThirdSection{
    background-color: #ECECEC;
    margin: 40px 0 0 0;
    padding: 90px 90px 70px 90px;
}
.ThirdSection > hr{
    height: 3px;
    width: 100px;
    background-image: linear-gradient(to right, #FAFF00 ,black);
    border: none;
}
.ThirdSection >h1{
    padding: 10px 0 150px 0;
}
.allimages{
display: grid;
grid-template-columns: repeat(3,2fr);
gap: 40px;

border: none;
}
.allimages{
    width: 100%;
    
}

.allimages img{
    width: 100%;
}
.allimages > .img >h4{
    padding: 20px 0 20px 40px;
    background-color: white;
    
}
.img >table{
    padding: 10px;
    border: 1px solid #ECECEC;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    background-color: white;
    border-radius: 0 0 30px 30px;
}

.img table tr td{
    padding: 10px 0 10px 40px ;
    border: 1px solid #ECECEC;
    border-collapse: collapse;

}

/* Footer */
.Footer{
    padding: 60px 120px 60px 120px;
    background-color: black;
    display: grid;
}
.Footer > h2 >span{
    color: #FFAC12;
}
.Footer > h2{
    padding: 0 0 30px 0;
}
.Footer > hr{
    height: 1px;
    background-color: #FFAC12;
    border: none;
}
.contactbox{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto ));
}
.list{
    color: #fff;
    margin-top: 50px;
    line-height: 20px;

}

.iconfooter{
    display: flex ;
    color: #fff; 
    margin-top: 80px; 
    gap: 20px;
}
/* movers.html */

/* navbar */
.nav{
    background-color: black;
    padding: 40px 90px 20px 90px;
}
.navlinks{
    display: flex;
    justify-content: center;
    gap: 50px;
    color: white;
    padding: 0 0 10px 0;
    align-items: center;
}
.navlinks > button{
    background-color: #FFAC12;
    padding: 0 20px 10px 20px;
    border: none;
    border-radius: 0 15px 0 0;
}
.titles{
    color: #fff;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    padding: 20px 0 0 0;
}
.nav  hr {
    background-color: #FFAC12;
    border: none;
    height: 1px;
}
.nav .navlinks button span {
    color: #fff;
    font-size: 30px;

}
.navlinks > li > a {
    color: white;
    padding: 35px;
    transition: all 0.3s ease 0s;

}
.navlinks > li > a:hover{
    color: #FFAC12;
}

/* herosection */
 
.herosection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 60px 90px 0 90px ;
    background-color: #ECECEC;
    gap: 30px;
}
 .bigimg {
    width: 800px;
}
.bigimg img {
    width: 100%;
}
.smallimg{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}
.smallimg img {
    width: 100%;
}
.herocard{
    padding: 10px 10px 20px 30px;
    border: none;
    border-collapse: collapse;
    margin: 0;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow:3px 3px 0 0 lightgray ;
}
.herocard td {
    padding: 20px 80px 20px 40px ;
    border: 2px solid #ECECEC;
    border-collapse: collapse;

}
.herocard td span{
    color: #FFAC12;
    padding-left: 28px;
}
.herocard td i{
    font-size: 30px;
    
}
.herocard td button{
    background-color: black;
    color: #fff;
    border: none;
    padding:10px 0 10px 20px ;
    border-radius: 0 15px 0 0;
}
.herocard td button span{
    font-size: 20px;
    
}
/* AboutUs */

.AboutUs{
    padding: 60px 0 0 90px ;
    background-color: #ECECEC;
}
.Details{
    width: 800px;
    border-radius: 15px 15px 15px 15px ;
    background-color: #fff;
    border: none;
}
.Details h4{
    padding: 20px 0 20px 20px;
}
.details{
    border: 1px solid #ECECEC;
    border-collapse: collapse;
    width: 800px;
    width: 100%;
}
.details  td {
    padding: 10px 0 10px 0 ;
    border: 1px solid #ECECEC;
    border-collapse: collapse;
    text-align: center;
}
.description{
    background-color: #fff;
    width: 800px;
    border-radius: 15px 15px 15px 15px ;
    margin-top: 60px;
    padding: 20px 0 20px 0;
}
.description h4{
    padding: 20px 0 20px 20px;
}
.description hr{
    height: 1px ;
    border: none;
    background-color: #ECECEC;
}
.description p {
    padding: 20px 10px 10px 20px;
}
.features{
    background-color: #fff;
    width: 800px;
    border-radius: 15px 15px 15px 15px ;
    margin-top: 60px;
    padding: 20px 0 20px 0;
}
.features ul {
    display: flex;
    justify-content: space-around;
    line-height: 30px;
    padding-top: 20px;
}
.features h4{
    padding: 20px 0 20px 20px;
}
.features hr{
    height: 1px ;
    border: none;
    background-color: #ECECEC;
}
.features i {
    color: #FFAC12;
}
.AboutUs hr {
    height: 3px;
    width: 100px;
    background-image: linear-gradient(to right, #FAFF00 ,black);
    border: none;
    margin-top: 90px;
}
.AboutUs h2{
    font-size: 30px;
    padding: 10px 0 10px 0;
}
.aboutusimg{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 40px;
    height: 500px;
    
}
.aboutusimg img{
    width: 100%;
    height: 50%;
    
}
.about{
    background-color:white;
    border-radius: 20px 20px 20px 20px;
    
}